.contactBanner {
    left: 200%;
    display: inline-block;
    transition: all 700ms ease-in-out;
}

.contactCenter {
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactTitle {
    font-family: 'Pacifico';
    font-size: 3.5em;
}

.contactForm {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.contactInput {
    font-size: 1.1em;
    width: 100%;
    border: none;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-boz-sizing: border-box;
    box-sizing: border-box;
}

.contactTextArea {
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    resize: none;
}

.contactButton {
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    background-color: white;
    color: #FF342F;
}

.contactButton: hover {
    cursor: pointer;
}

[contenteditable="true"]: focus {
    outline: none;
}

.replyMessage {
    display: none;
    width: 100%;
}

@media screen and (min-width: 607px) {
    .contactCenter {
        width: 60%;
    }
}

@media screen and (min-width: 860px) {
    .contactCenter {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .contactCenter {
        width: 40%;
    }
}