.contactBanner {
    left: 200%;

    display: inline-block;
    transition: all 700ms ease-in-out;
}



.contactContent {
    width: 70%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactTitle {
    margin-bottom: 10px;
}

.contactForm {
    width: 100%;

    padding: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contactInput {
    width: 100%;
    border: none;
    margin-top: 1px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-boz-sizing: border-box;
    box-sizing: border-box;
}

.contactTextArea {
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    resize: vertical;
}

.contactButton {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    background-color: white;
    color: #FF342F;
    /*background-color: #23365F;*/
}

.contactButton:hover {
 cursor:pointer;
}


[contenteditable="true"]:focus {
    outline: none;
}

/* -------- balloon --------- */



/*
.balloonLine1 {
    height: 22px;
    width: 22px;
    position: absolute;
    z-index: -1;x
    left: 9px;
    top: 22px;
    border: red solid 1px;
    border-right: red solid 1px;
    transform: rotate(53deg) skew(18deg);
}*/

/*
.balloonLine1 {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

.balloonLine2 {
    border-left: 20px solid transparent;
    border-right: 20px solid white;
    border-top: 20px solid transparent;
}*/

