.contactMain {
    position: relative;
    width: 100%;
    height: 100%;
}

.contactWrapper {
    color: #FF342F;
    background-color: #67AFD2;
    height: 400px;
    width: 35%;
    margin: auto;

    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);

    
     -webkit-animation: moveinfullfromleft 1.3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: moveinfullfromleft 1.3s; /* Firefox < 16 */
    -ms-animation: moveinfullfromleft 1.3s; /* Internet Explorer */
    -o-animation: moveinfullfromleft 1.3s; /* Opera < 12.1 */
    animation: moveinfullfromleft 1.3s;)
}

.contactWrapper {
    
}

.contact {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.contactForm {
    width: 100%;

    padding: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contactInput {
    width: 100%;
    margin-top: 1px;
    padding: 0;
     -webkit-box-sizing: border-box;
    -moz-boz-sizing: border-box;
    box-sizing: border-box;
}

.contactTextArea {
    margin-top: 3px;
}

textarea {
    height: 70px;
    width: 452px;

    padding: 0;
    margin: 0;
    margin-top: 7px;
}
