@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import url("contact.css");
@import url("cloud.css");
@import url("animations.css");
@import url("portfolio.css");

@font-face {
    font-family: 'Quicksand', sans-serif;
}

html {
    height: 100%;
}

p, h1, h2, h3, h4, div, section, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #A6D3DC;
    /*background-color: #A4D6DE;*/
    font-family: 'Quicksand';
    position: relative;
    z-index: -2;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

/*---------------------Carousel------------------------*/

.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.rail {
    width: 6000px;
    height: 400px;
    display: inline-block;
    position: absolute;
    top: 12%;
    left: 0%;
    transition: all 700ms ease-in-out;
}

.slide {
    color: #FF342F;
    background-color: #82C8CF;  
    /*background-color: #7BC7BE;*/
    /*background-color: #7BC7DE;*/  
    height: 100%;
    margin-right: 40px;
    vertical-align: top;
    display: inline-block; 
    position: relative;
}
 
@media screen and (min-width: 773px) {

}

.homeBanner {
    -webkit-animation: moveinfullfromleft 1.3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: moveinfullfromleft 1.3s; /* Firefox < 16 */
    -ms-animation: moveinfullfromleft 1.3s; /* Internet Explorer */
    -o-animation: moveinfullfromleft 1.3s; /* Opera < 12.1 */
    animation: moveinfullfromleft 0.5s;
    animation-delay: 0s;
}

.homeBannerCenter, .portfolioBannerCenter {
    position: relative;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    font-family: 'Pacifico';
    font-size: 5em;
    text-align: center;
}

.intro {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 41px;
}

.seeWork {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (min-width: 773px) {
    .name {
        text-align: left;
    }
  
    .intro {
        font-size: 1.6em;
        text-align: left;
    }  
}

.btnStart {
    display: inline-block;
    position: relative;
    padding: 10px;

    background-color: white;
    text-decoration: none;
    color: #FF342F;
}

.btnStart:hover {

}

/*------------- Links Banner ------------*/

.linksBanner {
    font-family: 'Quicksand';
    text-align: center;
    color: #FF342F;
    background-color: #82C8CF; 
    /*background-color: #67AFD2;*/
    position: absolute;
    top: 0;
    width: 100%;

    transition: all 700ms ease-in-out;
}

@media screen and (min-width: 773px) {
    .linksBanner { 
        text-align: right;
        top: 75%;
        width: 50%;

        -webkit-animation: moveinhalf 1.3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: moveinhalf 1.3s; /* Firefox < 16 */
        -ms-animation: moveinhalf 1.3s; /* Internet Explorer */
        -o-animation: moveinhalf 1.3s; /* Opera < 12.1 */
        animation: moveinhalf 1.3s;
    }
}

.links {
    margin: 10px;
}

.links a, .links a:visited {
    color: #FF342F;
    text-decoration: none;
}

/*-------------- Banner 2 -------------*/

.portfolioBanner {
    left: 100%;
    display: inline-block;
}

.portfolioBannerCenter {
    font-size: 0;
}

.artLink, .designLink {
    font-size: medium;
    display: inline-block;
    width: 50%;
    height: 80px;
    text-align: center;

    position: relative;
    vertical-align: middle;
}

.portfolioBtn {
    color: #FF342F;
    background-color: white;
    text-decoration: none;

    position: relative;
    display: inline-block;
    width: 80px;
    height: 100%;
}

.portfolioBtn p {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.portfolioBtn:hover {

}

/*http://stackoverflow.com/questions/4698830/curved-lines-using-only-html-and-or-css?noredirect=1&lq=1
http://jsfiddle.net/yijiang/nDxYJ/
http://www.chloechen.io/a-happy-hot-ballon/*/

.balloonWrapper {  
    width: 60px;
    height: 84px;
    top: 74%;
    left: 80%;
    display: block; 
    position: absolute;
    
    -webkit-animation: float 50s linear infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: float 50s linear infinite; /* Firefox < 16 */
    -ms-animation: float 50s linear infinite; /* Internet Explorer */
    -o-animation: float 50s linear infinite; /* Opera < 12.1 */
    animation: float 50s linear infinite; 
}

.balloonCenter {
    -webkit-animation: wobble 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: wobble 2s linear infinite; /* Firefox < 16 */
    -ms-animation: wobble 2s linear infinite; /* Internet Explorer */
    -o-animation: wobble 2s linear infinite; /* Opera < 12.1 */
    animation: wobble 2s linear infinite; 
}

.balloonHead {
    background-color: #FF342F;
    border-radius: 50%;
    top: 7px;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.balloonCurve1 {
    border: 3px solid #de3939;
    border-color: transparent transparent transparent #de3939; 
    border-width: 0 0 0 3px;
    -moz-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
    
    width: 34px;
    height: 75px;
    top: -7px;
    left: 13px;
    position: absolute;
}

.balloonCurve2 {
    border: 3px solid #de3939;
    border-color: transparent #de3939 transparent; 
    border-width: 0 3px 0 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    
    width: 34px;
    height: 74px;
    top: -7px;
    left: 11px;
    position: absolute;
}

.balloonRopes {
    width: 60%;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.balloonBasket {
    background-color: #AD5454;
    border-radius: 0 0 10% 10%;
    width: 50%;
    height: 24px;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
}


